<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>920043719912-t8p05em1ktevid2m0bvespmbj7dbk72f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920043719912-t8p05em1ktevid2m0bvespmbj7dbk72f</string>
	<key>API_KEY</key>
	<string>AIzaSyBIhcd4AISwv7KPL8QtPVKLIWPvSxv0KRo</string>
	<key>GCM_SENDER_ID</key>
	<string>920043719912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.BarOn</string>
	<key>PROJECT_ID</key>
	<string>firebase-baron</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-baron.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:920043719912:ios:72ba5d6025a3f1fe</string>
	<key>DATABASE_URL</key>
	<string>https://fir-baron.firebaseio.com</string>
</dict>
</plist>